/*Contains styling for mobile phone size screens*/

.body {
  width: 90%;
}

.container {
  margin-top: 15px;
}

@-ms-viewport {
  width: device-width;
}

.header_name {
  text-align: center;
}

.header_logo {
  width: 80px;
  height: 80px;
}

.header {
  color: #2d3c49;
  border-bottom: solid;
  border-bottom-width: 5px;
  text-align: center;
}

.name {
  font-size: 24px;
}

img {
  width: 100%;
}

h1 {
  font-size: 24px;
  text-align: center;
}

.games {
  order: -1;
  width: 100%;
  text-align: center;
}

.bus_Apps {
  order: 0;
  width: 100%;
  text-align: center;
}

.news_Feeds {
  order: 2;
  width: 100%;
  text-align: center;
}
