/*Contains styling for Laptop size screens*/

body {
  display: grid flex-wrap: wrap;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
}

@-ms-viewport {
  width: device-width;
}

}

.container {
  display: grid;
  grid-template-columns: 2fr 4fr;
  flex-wrap: wrap;
}

.header {
  font-size: 44px;
  color: #2d3c49;
  grid-template-columns: 200px 200px 200px 200px 200px;
  height: 165px;
  width: 90%;
  justify-content: center;
  margin-top: 45px;
  margin-left: 85px;
  background-color: lightgray;
  border-bottom: solid;
  border-bottom-width: 5px;
  order: -1;
}

.header_logo {
  width: 30%;
  display: inline-grid;
  grid-column-start: 1;
  grid-column-end: 2;
  padding-top: 45px;
  padding-left: 25px;
}

.header_name {
  width: 60%;
  display: inline-grid;
  grid-column-start: 5;
  grid-row-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: right;
  vertical-align: top;
}

.name {
  vertical-align: top;
}

.imageBackground {
  max-width: 100%;
  align-items: center;
  display: grid;
  height: 700px;
  margin-left: 115px;
  order: 0;
}

h1 {
  color: #7d97ad;
}

.games {
  width: 33%;
  display: inline-grid;
}

.bus_Apps {
  width: 33%;
  display: inline-grid;
}

.news_Feeds {
  width: 33%;
  display: inline-grid;
}

.header_Games {
  width: 33%;
  display: inline-grid;
  text-align: center;
  vertical-align: top;
  color: #2d3c49;
  font-size: 22px;
  padding-left: 145px;
}

.header_Bus_Apps {
  width: 33%;
  display: inline-grid;
  vertical-align: top;
  text-align: right;
  color: #2d3c49;
  font-size: 22px;
  padding-left: 145px;
}

.header_News_Feeds {
  width: 33%;
  display: inline-grid;
  vertical-align: top;
  text-align: center;
  color: #2d3c49;
  font-size: 22px;
  padding-left: 145px;
}

h2 {
  text-align: center;
}

a:link {
  color: #02b3e4;
}
