/*Contains styling for Laptop size screens*/
body {
  display: grid;
  max-width: 100%;
}

html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

@-ms-viewport {
	width: device-width;
}

.container {
	display: grid;
  max-width: 100%;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(100px, auto);
  padding-left: 90px;
}

.header {
  display: grid;
  max-width: 100%;
	font-size: 44px;
	color: #2d3c49;
	margin-top: 45px;
	background-color: lightgray;
	border-bottom: solid;
	border-bottom-width: 5px;
  order: -1;
  grid-template-columns: 100px 100px 224px 600px;
  grid-template-rows: 200px;
  margin-left: 20px;
}

.header_logo {
	display: inline-grid;
	grid-column-start: 2;
  grid-column-end: 3;
  height: 80px;
  width: 80px;
  margin-top: 50px;

}

.header_name {
  display: inline-grid;
  grid-column-start: 4;
  grid-column-end: 6;
  padding-left: 495px;
}

.name {
	vertical-align: top;
}

.imageBackground {
	display: grid;
	order: 0;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-top: 45px;
  margin-bottom: 25px;
  padding-left: 20px;
}

h1 {
	color: #7d97ad;
  display: grid;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.games {
	display: inline-grid;
	grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

.bus_Apps {
	display: grid;
	grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.news_Feeds {
	display: inline-grid;
	grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

.header_Games {
	display: inline-grid;
	color: #2d3c49;
	font-size: 22px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;
  padding-right: 50px;
}

.header_Bus_Apps {
	display: inline-grid;
	color: #2d3c49;
	font-size: 22px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
  padding-right: 50px;
}

.header_News_Feeds {
	display: inline-grid;
	color: #2d3c49;
	font-size: 22px;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 6;
  padding-right: 50px;
}

h2 {
	text-align: center;
}

h3 {
  padding-left: 125px;
}

.foot {
  padding-left: 90px;
  color: #2d3c49;
}

a:link {
	color: #02b3e4;
}
